body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
}

.logo {
  font-display: swap;
  color: white;

  height: 50px;
  margin: 10px auto;
  display: block;
}

header {
  display: flex;
  padding: 20px;
  background-color: #1e1e1e;
}

ul,
li {
  justify-content: center;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#searchInput {
  flex: 1;
  padding: 10px;
  font-size: 1em;
}

#searchBtn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

#resultsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.result-card {
  background-color: #282828;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.result-card img {
  width: 100%;
  border-radius: 4px;
}
