*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Circular";
  font-weight: 300;
  font-style: normal;
  color: white;
  margin: 0;
}

#center {
  background: linear-gradient(#debf50, #000000);
  padding-top: 1.5rem;
}

#imgAlbum {
  width: 100%;
  object-fit: cover;
}

#playId {
  max-width: 30%;
}

#list-bg {
  background: linear-gradient(#5b4f20, #000000);
  margin-left: 0;
  margin-right: 0;
}

#accountId,
.dropdown-menu,
.dropdown-item {
  background-color: #000000ca;
  padding: 2px;
  border-radius: 5px;
  color: white;
}
#accountId {
  border-radius: 20px;
}

#leftArrow,
#rightArrow {
  max-width: 100%;
}
